.text-preset-1 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  line-height: 120%; /* 2.4rem (38.4px) */
}

.text-preset-2 {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 120%; /* 1.5rem (24px) */
}

.text-preset-3 {
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 150%; /* 1.5rem (24px) */
}

.text-preset-4 {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 150%; /* 1.3125rem (21px) */
}

.text-preset-4-bold {
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  line-height: 150%; /* 1.3125rem (21px) */
}

.text-preset-5 {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 150%; /* 1.125rem (18px) */
}

.text-preset-5-bold {
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  line-height: 150%; /* 1.125rem (18px) */
}
